<article class="scroller">
  <section class="section-first">
    <div class="logo">CTOR</div>
    <div class="first-page-text">
      <h2>Welcome!</h2>
      <h2>To enter the site, you should sign in.</h2>
    </div>
    <app-large-button *ngIf="!(isLoggedIn$ | async)" routerLink="/login">Sign in</app-large-button>
    <app-large-button *ngIf="(isLoggedIn$ | async) && !(isAdmin$ | async)" routerLink="/projects">Sign in</app-large-button>
    <app-large-button *ngIf="(isLoggedIn$ | async) && (isAdmin$ | async)" routerLink="/administration">Sign in</app-large-button>
  </section>
  <section class="section-second">
    <h1>About project</h1>
    <p>Ctor is a web-based software for construction companies.
      The platform allows planning and managing constructions.
      It is supposed to store all project documentation, the information about materials and vendors.</p>
    <p>Ctor provides roadmap development and workflow management for the architects and managers.
      Ctor shows current state of the building via dashboards and reports.
      Ctor is a B2B multi-tenant system and provides custom configuration per client.</p>
  </section>
</article>
