
<div class="container">
  <div class="projects-page">
    <div class="head">
      <div class="controll">
        <div class="statuses">
          <app-underlined-button (click)="changeStatus(status.InProcess)">Current projects</app-underlined-button>
          <app-underlined-button (click)="changeStatus(status.Finished)">Completed</app-underlined-button>
          <app-underlined-button (click)="changeStatus(status.Suspended)">Suspended</app-underlined-button>
        </div>
        <div class="flex">
          <div mat-icon-button id="sortMenu" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>sort</mat-icon>
          </div>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="sortProjectsByName()">
              <span>By name</span>
            </button>
            <button mat-menu-item (click)="sortProjectsByStartTimeDesc()">
              <span>New</span>
            </button>
            <button mat-menu-item (click)="sortProjectsByStartTime()">
              <span>Old</span>
            </button>
          </mat-menu>
          <input type="text" [(ngModel)]="contains" (ngModelChange)="findProjectsThatContains()" id="searchInput" placeholder="Search project">
        </div>
      </div>
      <div class="create-project">
        <!-- create project button -->
        <app-button (click)="add()">add project</app-button>
        <!--<app-datepicker  class="endDate"  label="End time"></app-datepicker>-->
      </div>
    </div>
    <div class="projects" *ngIf="projects$ | async as projects">
      <app-card
        *ngFor="let project of projects"
        [cardInformation]="getCardInformation(project)"
      >
      </app-card>
    </div>
  </div>
</div>
