<div class="image-column"></div>

<div>
  <div class="content-column">
    <div class="content-padding">
      <button mat-button class="btn-back" (click)="close()">← Back</button>

      <div class="heading">Registration of a new company</div>

      <form [formGroup]="form" (submit)="submit()">
        <div id="CompanyIdDiv">
          <div>Company ID</div>
          <div>{{NewCompanyId}}</div>
        </div>

        <app-input label="Company name" type="text" [control]="name" [errorMessage]="nameError()">
        </app-input>

        <app-input label="Email" type="email" [control]="email" [errorMessage]="emailError()">
        </app-input>

        <app-input label="Country" type="text" [control]="country" [errorMessage]="countryError()">
        </app-input>

        <app-input label="City" type="text" [control]="city" [errorMessage]="cityError()">
        </app-input>

        <app-input label="Address" type="text" [control]="address" [errorMessage]="addressError()">
        </app-input>

        <app-large-button type="submit">Submit</app-large-button>
      </form>
    </div>
  </div>
</div>
