<ng-container *ngIf="companyDetailed$ | async as company">
  <div class="container">
    <div class="header">
      <div class="header-top">
        <button mat-icon-button aria-label="arrow_left" routerLink="/company-list">
          <mat-icon svgIcon="arrow_left"></mat-icon>
        </button>
        <h1>{{ company.companyName | uppercase }}</h1>
        <p class="id">{{ company.id }}</p>
      </div>

      <div class="logo">
        <img
          class="logo-img"
          alt="Logo"
          src="{{ company.image }}"
          (click)="selectImage.click()"
        />
        <input
          class="logo-input"
          type="file"
          accept="image/png, image/jpeg"
          (change)="uploadImage(company.id, $event)"
          #selectImage
        />
      </div>

      <div class="description">
        <p>Description</p>
      </div>
    </div>

    <div class="content">
      <mat-card class="card-1">
        <ng-container *ngIf="companyInformationForm$ | async as companyForm">
          <mat-card-title-group>
            <mat-card-title>
              <span>Information</span>
            </mat-card-title>
            <mat-card-actions>
              <button
                *ngIf="!isEditEnabled"
                mat-icon-button
                aria-label="Pencil"
                (click)="onFormEdit()"
              >
                <mat-icon svgIcon="pencil"></mat-icon>
              </button>
              <button
                *ngIf="isEditEnabled"
                disabled="{{ !companyForm.isValid }}"
                mat-icon-button
                aria-label="Save"
                (click)="
                  onSave(companyForm.value.address, companyForm.value.email)
                "
              >
                <mat-icon>save</mat-icon>
              </button>
              <button
                *ngIf="isEditEnabled"
                mat-icon-button
                aria-label="Pencil"
                (click)="onCancel()"
              >
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card-title-group>

          <mat-card-content>
            <form novalidate [ngrxFormState]="companyForm"></form>
            <div class="card-content">
              <label>Join Date:</label>
              <p class="date">{{ company.joinDate }}</p>

              <label for="addres">Address:</label>
              <input
                id="address"
                class="company-information-input"
                type="text"
                [ngrxFormControlState]="companyForm.controls.address"
              />

              <label for="email">Email:</label>

              <input
                class="input"
                matInput
                id="email"
                class="company-information-input"
                type="email"
                [ngrxFormControlState]="companyForm.controls.email"
              />
            </div>
            <p class="warning" *ngIf="companyForm.errors['_address']?.required">
              Address is required
            </p>
            <p class="warning" *ngIf="companyForm.errors['_email']?.required">
              Email is required
            </p>
            <p class="warning" *ngIf="companyForm.errors['_email']?.email">
              Please, enter valid email address
            </p>
          </mat-card-content>
        </ng-container>
      </mat-card>

      <mat-card class="card-2">
        <mat-card-title-group>
          <mat-card-title>
            <span>Team</span>
          </mat-card-title>
          <mat-card-actions>
            <button mat-icon-button aria-label="Load a file">
              <mat-icon svgIcon="file_plus"></mat-icon>
            </button>
            <button mat-icon-button aria-label="Add member" (click)="openModal(company.id)">
              <mat-icon svgIcon="plus"></mat-icon>
            </button>
          </mat-card-actions>
        </mat-card-title-group>

        <mat-card-content>
          <cdk-virtual-scroll-viewport
            appendOnly
            itemSize="{{ company.members.length }}"
            class="members-viewport"
          >
            <div
              *cdkVirtualFor="let member of company.members"
              class="members-item"
            >
              {{ member.firstName }} {{ member.lastName }},
              {{ member.roleName }}, {{ member.userEmail }}
            </div>
          </cdk-virtual-scroll-viewport>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-3">
        <mat-card-title>Projects</mat-card-title>
        <mat-card-content></mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-container>
