<div class="container" *ngIf="project$ | async as project">
  <div class="arrow-bar"></div>
  <div class="cards-container">

    <div class="cards-container-column" *ngIf="projectInformationForm$ | async as projectForm">
      <form novalidate [ngrxFormState]="projectForm" class="info-card">
        <div class="card-header">
          <span class="selected-text1">Shopping Centre Valkea Info</span>
          <button mat-icon-button *ngIf="!isEditEnabled">
            <mat-icon svgIcon="pencil" (click)="changeEdit($event)"></mat-icon>
          </button>
          <div class="form-buttons">
            <app-mini-button (click)="onSave(project.id, projectForm.value)" *ngIf="isEditEnabled">Save
            </app-mini-button>
            <app-mini-button (click)="onCancel()" *ngIf="isEditEnabled">Close</app-mini-button>
          </div>
        </div>
        <div class="info-card-content">
          <div class="unchangeble">
            <div class="info-card-label">
              Project ID:
            </div>
            <div class="info-card-input">
              <span>{{ project.id }}</span>
            </div>
          </div>
          <div>
            <div class="info-card-content-labels">
              <div class="info-card-label">
                Address:
              </div>
              <div class="info-card-label">
                Start Date:
              </div>
              <div class="info-card-label">
                End Date:
              </div>
            </div>
            <div class="info-card-content-inputs">
              <div class="info-card-input">
                <span *ngIf="!isEditEnabled">{{ project.address }}</span>
                <app-input class="form-input" *ngIf="isEditEnabled" [controlState]="projectForm.controls.address"></app-input>
              </div>
              <div class="info-card-input">
                <span *ngIf="!isEditEnabled">{{ project.startTime | date }}</span>
                <app-datepicker class="form-input" *ngIf="isEditEnabled"
                           [controlState]="projectForm.controls.startTime"></app-datepicker>
              </div>
              <div class="info-card-input">
                <span *ngIf="!isEditEnabled">{{ project.endTime | date }}</span>
                <app-datepicker class="form-input" *ngIf="isEditEnabled"
                                [controlState]="projectForm.controls.endTime"></app-datepicker>
              </div>
            </div>
          </div>
        </div>
      </form>

      <app-building-section></app-building-section>
    </div>

    <div class="cards-container-column">
      <div class="photos-card">
        <div class="card-header">
          <span class="selected-text1">Project Photos</span>
          <button mat-icon-button (click)="addPhotosModal(project.id)">
            <mat-icon svgIcon="plus"></mat-icon>
          </button>
        </div>
        <div class="card-img">
          <app-project-photos [projecId]="project.id" [width]="550"></app-project-photos>
        </div>
      </div>

      <div class="team-card">
        <div class="card-header">
          <span class="selected-text1">Project Team</span>
          <button mat-icon-button>
            <mat-icon svgIcon="plus"></mat-icon>
          </button>
        </div>
        <!-- insert your html here -->
      </div>

    </div>
  </div>
</div>
