<div class="container">
  <div class="arrow-bar"></div>
  <div class="cards-container">

    <div class="cards-container-column">
      <div class="info-card">
        <div class="card-header">
          <span class="selected-text1">Shopping Centre Valkea Info</span>
          <button mat-icon-button>
            <mat-icon svgIcon="pencil"></mat-icon>
          </button>
        </div>
        <div class="info-card-content">
          <div class="info-card-content-labels">
            <div class="info-card-label">
              Project ID:
            </div>
            <div class="info-card-label">
              Address:
            </div>
            <div class="info-card-label">
              Start Date:
            </div>
            <div class="info-card-label">
              End Date:
            </div>
          </div>
          <div class="info-card-content-inputs">
            <div class="info-card-input">
              47821456
            </div>
            <div class="info-card-input">
              Finland, Oulu, Arina Kiinteistot 1y
            </div>
            <div class="info-card-input">
              3.08.2022
            </div>
            <div class="info-card-input">
              18.12.2022
            </div>
          </div>
        </div>
      </div>

      <div class="buildings-card">
        <div class="card-header">
          <span class="selected-text1">Project Buildings</span>
          <button mat-icon-button>
            <mat-icon svgIcon="plus"></mat-icon>
          </button>
        </div>
      </div>
      <!-- insert your html here -->
    </div>

    <div class="cards-container-column">

      <div class="photos-card">
        <div class="card-header">
          <span class="selected-text1">Project Photos</span>
          <button mat-icon-button>
            <mat-icon svgIcon="plus"></mat-icon>
          </button>
        </div>
        <img>
      </div>

      <div class="team-card">
        <div class="card-header">
          <span class="selected-text1">Project Buildings</span>
          <button mat-icon-button>
            <mat-icon svgIcon="plus"></mat-icon>
          </button>
        </div>
        <!-- insert your html here -->
      </div>

    </div>
  </div>
</div>
