<header class="header">
  <div class="header-btn-group">
    <a [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="sort"></mat-icon>
    </a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="toggleSort('name')">Name</button>
      <button mat-menu-item (click)="toggleSort('joinDate')">Join date</button>
    </mat-menu>
    <a class="btn-group-item" (click)="toggleSearchInput()">
      <mat-icon svgIcon="search"></mat-icon>
    </a>
    <input *ngIf="!searchInputDisabled" type="text" placeholder="search" [formControl]="filterInput" [value]="filter$ | async">
  </div>
  <button class="add-company" (click)="openModal()">Add Company</button>
</header>
<div class="company-list">
  <ng-container *ngIf="companies$ | async as companies">
    <app-company-overview *ngFor="let company of companies" [company]="company"></app-company-overview>
  </ng-container>
</div>
