.header-wrapper{
  display: flex;
  flex-direction: row;
}
.header-button{
  margin-left: auto;
  cursor: pointer;
}
.fullname-wrapper{
  display: flex;
  flex-direction: row;
  gap: 5%;
}
.wrapper{
  display: flex;
  flex-direction: column;
}

