<div class="wrapper">
  <h3>Company Profile</h3>
  <div class="columns">
    <div class="company-info" *ngIf="company$ | async as company">
      <div class="logo-container">
        <img [src]="company.image">
        <div class="logo-controls">
          <button *ngIf="!isLogoEmpty(company.image)" mat-icon-button (click)="this.editLogo(company.image, company.id)">
            <mat-icon svgIcon="pencil"></mat-icon>
          </button>
          <input
          class="logo-input"
          type="file"
          accept="image/png, image/jpeg, image/svg+xml"
          (change)="uploadLogo($event, company.id)"
          #selectLogo
        />
          <a *ngIf="!isLogoEmpty(company.image)" class="main-text logo-btn" (click)="this.deleteLogo()">Delete A Logo</a>
          <a *ngIf="isLogoEmpty(company.image)" class="main-text logo-btn" (click)="selectLogo.click()">Upload A Logo</a>
        </div>
      </div>
      <div class="info-card" >
        <ng-container *ngIf="companyProfileForm$ | async as companyForm">
          <div class="card-header">
            <span class="selected-text1">Shopping Centre Valkea Info</span>
            <button mat-icon-button *ngIf="companyForm.isDisabled" (click)="enableEditing()">
              <mat-icon svgIcon="pencil"></mat-icon>
            </button>
            <div class="secondary-btn" *ngIf="!companyForm.isDisabled" (click)="disableEditing()">Cancel</div>
            <div class="primary-btn" *ngIf="!companyForm.isDisabled"
                 (click)="onSubmit(companyForm.value.address, companyForm.value.email, companyForm.value.website)">Save
            </div>
          </div>
          <div class="info-card-content">
            <div class="info-card-content-labels">
              <div class="info-card-label">
                Join date:
              </div>
              <div class="info-card-label">
                Address:
              </div>
              <div class="info-card-label">
                Email:
              </div>
              <div class="info-card-label">
                Website:
              </div>
            </div>
            <form novalidate class="info-card-content-inputs"
                  [ngrxFormState]="companyForm">
              <div class="info-card-input">
                {{company.joinDate}}
              </div>
              <input class="info-card-input"
                     [ngrxFormControlState]="companyForm.controls.address">
              <input class="info-card-input"
                     [ngrxFormControlState]="companyForm.controls.email">
              <input class="info-card-input"
                     [ngrxFormControlState]="companyForm.controls.website">
            </form>
          </div>
          <!--        <p class="warning" *ngIf="companyForm.errors['_address']?.required">-->
          <!--          Address is required-->
          <!--        </p>-->
          <!--        <p class="warning" *ngIf="companyForm.errors['_email']?.required">-->
          <!--          Email is required-->
          <!--        </p>-->
          <!--        <p class="warning" *ngIf="companyForm.errors['_email']?.email">-->
          <!--          Please, enter valid email address-->
          <!--        </p>-->
        </ng-container>
      </div>
    </div>
    <div class="projects-card">
      <div class="card-header">
        <span class="selected-text1">Projects</span>
      </div>
      <div class="project-info" *ngFor="let project of projects$ | async">
        <img>
        <div class="project-info-container">
          <h3>{{project.projectName}}</h3>
          <div class="project-info-container-subheader">{{project.address}}</div>
          <div class="project-info-container-description">{{project.description}}</div>
        </div>
        <div class="project-info-container-status">{{project.status}}</div>
      </div>
    </div>
  </div>
</div>
