<app-auth-page-layout>
  <h4 class="mat-display-2" style="text-align: center; font-weight: 600">Change password</h4>

  <form [formGroup]="form" (submit)="submit()">

    <mat-form-field class="w-100" appearance="fill">
      <mat-label>New Password</mat-label>
      <input matInput type="email" [type]="hidePassword ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Show/Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password?.hasError('required')">Password is <strong>required</strong></mat-error>
      <mat-error *ngIf="password?.hasError('minLength')">Password must be at least 6 characters long</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Confirm password</mat-label>
      <input matInput type="email" [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
      <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
        <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="confirmPassword?.hasError('required')">Password is <strong>required</strong></mat-error>
      <mat-error *ngIf="confirmPassword?.hasError('minLength')">Password must be at least 6 characters long</mat-error>
      <mat-error *ngIf="form?.hasError('notMatched')">Password does not match</mat-error>
    </mat-form-field>

    <button mat-raised-button class="w-100" color="primary" type="submit">Change password</button>
  </form>
</app-auth-page-layout>
