
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat.define-palette(mat.$indigo-palette);
$frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat.define-light-theme((
  color: (
    primary: $frontend-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);

@import 'assets/scss/modules/_fonts.scss';
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins'; font-style: normal }
.w-100 {
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins'; font-style: normal }

h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}



.main-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.small-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.secondary {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.selected-text1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.selected-text2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
